# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Virtual Environments
.venv/
venv/
env/
ENV/

# IDE / Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
